.img-acc img{
    width: 100%;
    height: auto;
}
.accordion-button{
display: flex;
justify-content: space-between;
align-items: center;
}
.accordion-button::after{
    display: none !important;
}
.SeeWhy{
    background-image: url(../../assets/img/bg-5.jpg);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 130vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}
.SeeWhy .content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000a7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.accordion{
    --bs-accordion-bg:none;
    --bs-accordion-border-color:none;
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow:none;
    --bs-accordion-border-radius:none;
    --bs-accordion-inner-border-radius:none;
}
.accordion-button:focus {
    z-index: 3;
    border-color: white;
}
.accordion-button , .accordion-item{
    color: white;
}
.accordion-button{
    font-size: 1.3rem;
    border-bottom: 1px solid white;
}
@media screen and (max-width:700px) {
    .SeeWhy{
        height: 180vh;
    }
}
