.carousel-control-next-icon , .carousel-control-prev-icon{
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 3px 7px 1px white;
}

.TheFirst{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
.TheFirst h1 , .TheMiddel h1{
    font-size: 5rem;
    font-weight: 900;
}
.TheMiddel{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: black;
    width: 60%;
}
@media screen and (max-width:700px) {
    .TheFirst h1 , .TheMiddel h1{
        font-size: 1.2rem;
    }
    .TheFirst h2 , .TheMiddel h2{
        font-size: 0.9rem;
    }
}